body {
    height: 100%;
    background: linear-gradient(to right, rgb(185, 39, 39) 40%, white 0%);
}

.container-fluid {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
    font-family:sans-serif;
    font-size: medium;
    margin-left: 20px;
} 

.Logo {
    position: absolute;
    width: 80px;
    left: 10px;
    top: 0px;
}

.gambar {
    margin-left: 0px;
    margin-top: -20px;
}

.head{
    color: #243142;
    position: relative;
    font-size: 40px;
    left: 700px;
    top: -420px;
    font-family: sans-serif;
    font-weight: bold;
}

.form-control {
    background-color: #FFFF;
    width: 50%;
    height: 50px;
    top: 150px;
    left: 130px;
    border-radius: 8px;
    padding: 100%;
}

.regist{
    position: relative;
    top: 20px;
    left: 705px;
    color: #029BC5;
    font-size: 13px;
    text-decoration: none;
}

.Daftar{
    position: relative;
    top: 20px;
    left: 700px;
    color: #243142;
    font-size: 13px;
    text-decoration: none;
}



